
@{
    ViewBag.Title = "NotExist2";
    Layout = "~/Views/YESS_Layout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>שגיאה-הזנת נתונים שאינם קיימים</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div style="text-align:right">
    <a href='@Url.Action("Index", "Home")' class="button button-contactForm btn_1">חזרה לעמוד הראשי</a>

</div>
